<section>
  <div
    class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:min-h-screen lg:py-0">
    <a
      [routerLink]="['/']"
      class="mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
      <harmony-core-logo mainClasses="h-10 w-10 mr-2" />
      {{ "APP_NAME" | i18n }}
    </a>
    <div
      class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0">
      <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl">
          {{ "LOGIN_TITLE" | i18n }}
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          action="#">
          <div>
            <label
              for="email"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >{{ "LOGIN_EMAIL_LABEL" | i18n }}</label
            >
            <input
              type="email"
              name="email"
              [ngModel]="email()"
              (ngModelChange)="email.set($event)"
              id="email"
              class="c-input"
              placeholder="{{ 'LOGIN_EMAIL_PLACEHOLDER' | i18n }}"
              required="" />
          </div>
          <div>
            <label
              for="password"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >{{ "LOGIN_PASSWORD_LABEL" | i18n }}</label
            >
            <input
              type="password"
              name="password"
              id="password"
              [ngModel]="password()"
              (ngModelChange)="password.set($event)"
              placeholder="{{ 'LOGIN_PASSWORD_PLACEHOLDER' | i18n }}"
              class="c-input"
              required="" />
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex h-5 items-center">
                <input
                  id="remember"
                  aria-describedby="remember"
                  type="checkbox"
                  name="remember"
                  [ngModel]="rememberMe()"
                  (ngModelChange)="rememberMe.set($event)"
                  class="c-checkbox"
                  required="" />
              </div>
              <div class="ml-3 text-sm">
                <label
                  for="remember"
                  class="text-gray-500 dark:text-gray-300"
                  >{{ "LOGIN_REMEMBER_ME" | i18n }}</label
                >
              </div>
            </div>
            <a
              [routerLink]="['/password-reset']"
              class="text-primary-600 dark:text-primary-500 text-sm font-medium hover:underline"
              >{{ "LOGIN_FORGOT_PASSWORD" | i18n }}</a
            >
          </div>
          <button
            type="submit"
            [disabled]="btnDisabled()"
            (click)="login()"
            class="c-button">
            {{ "LOGIN_SUBMIT" | i18n }}
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{ "LOGIN_NO_ACCOUNT" | i18n }}
            <a
              [routerLink]="['/signup']"
              class="text-primary-600 dark:text-primary-500 font-medium hover:underline"
              >{{ "LOGIN_CREATE_ACCOUNT" | i18n }}</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
