<nav
  class="left-0 top-0 z-20 w-full border-b border-gray-200 bg-white dark:border-gray-600 dark:bg-gray-900">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4">
    <a
      [routerLink]="['/']"
      class="flex items-center">
      <harmony-core-logo mainClasses="h-8 w-8 mr-2" />
      <span
        class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
        >{{ "APP_NAME" | i18n }}</span
      >
    </a>
    <div class="flex md:order-2">
      <a
        [routerLink]="['/signup']"
        type="button"
        class="mr-0 rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        {{ "HOME_SIGNUP" | i18n }}
      </a>
    </div>
    <div
      class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto"
      id="navbar-sticky"></div>
  </div>
</nav>
