<section>
  <div
    class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:min-h-screen lg:py-0">
    <a
      [routerLink]="['/']"
      class="mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
      <harmony-core-logo mainClasses="h-10 w-10 mr-2" />
      {{ "APP_NAME" | i18n }}
    </a>
    <div
      class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0">
      <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl">
          {{ "SIGNUP_TITLE" | i18n }}
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          action="#">
          <div>
            <label
              for="email"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >{{ "SIGNUP_EMAIL_LABEL" | i18n }}</label
            >
            <input
              type="email"
              name="email"
              id="email"
              [ngModel]="$email()"
              (ngModelChange)="$email.set($event)"
              class="c-input"
              placeholder="{{ 'SIGNUP_EMAIL_PLACEHOLDER' | i18n }}"
              required="" />
          </div>
          <div>
            <label
              for="username"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >{{ "SIGNUP_USERNAME_LABEL" | i18n }}</label
            >
            <input
              type="text"
              name="username"
              id="username"
              [ngModel]="$username()"
              (ngModelChange)="$username.set($event)"
              class="c-input"
              placeholder="{{ 'SIGNUP_USERNAME_PLACEHOLDER' | i18n }}"
              required="" />
          </div>
          <div>
            <label
              for="password"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >{{ "SIGNUP_PASSWORD_LABEL" | i18n }}</label
            >
            <input
              type="password"
              name="password"
              id="password"
              [ngModel]="$password()"
              (ngModelChange)="$password.set($event)"
              placeholder="{{ 'SIGNUP_PASSWORD_PLACEHOLDER' | i18n }}"
              class="c-input"
              required="" />
          </div>
          <div>
            <label
              for="confirm-password"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >{{ "SIGNUP_CONFIRM_PASSWORD_LABEL" | i18n }}</label
            >
            <input
              type="password"
              name="confirm-password"
              id="confirm-password"
              [ngModel]="$confirmPassword()"
              (ngModelChange)="$confirmPassword.set($event)"
              placeholder="{{ 'SIGNUP_PASSWORD_PLACEHOLDER' | i18n }}"
              class="{{ $passwordMatch() ? 'c-input' : 'c-input-error' }}"
              required="" />
          </div>
          <div class="flex items-start">
            <div class="flex h-5 items-center">
              <input
                id="terms"
                aria-describedby="terms"
                [ngModel]="$acceptTerms()"
                (ngModelChange)="$acceptTerms.set($event)"
                name="terms"
                type="checkbox"
                class="c-checkbox"
                required="" />
            </div>
            <div class="ml-3 text-sm">
              <label
                for="terms"
                class="font-light text-gray-500 dark:text-gray-300"
                >{{ "SIGNUP_TOS" | i18n }}
                <a
                  [routerLink]="['/terms']"
                  class="text-primary-600 dark:text-primary-500 font-medium hover:underline"
                  >{{ "SIGNUP_TOS_LINK" | i18n }}</a
                ></label
              >
            </div>
          </div>
          <button
            type="submit"
            [disabled]="btnDisabled()"
            (click)="register()"
            class="c-button">
            {{ "SIGNUP_SUBMIT" | i18n }}
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{ "SIGNUP_ALREADY_HAVE_ACCOUNT" | i18n }}
            <a
              [routerLink]="['/login']"
              class="text-primary-600 dark:text-primary-500 font-medium hover:underline"
              >{{ "SIGNUP_LOGIN" | i18n }}</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
