<div
  class="mb-[calc(env(safe-area-inset-bottom)+80px)] flex w-full justify-center p-4">
  <div class="flex w-full max-w-md flex-col gap-4 px-2 py-4">
    <div
      class="pb-[calc(env(safe-area-inset-bottom) + 80px)] flex flex-col items-center gap-2"
      auto-animate>
      <input
        class="c-input"
        type="text"
        [ngModel]="$name()"
        (keyup)="onNameInput()"
        (ngModelChange)="$name.set($event)"
        [placeholder]="'SERVER_SEARCH_PLACEHOLDER' | i18n" />
      <div class="flex w-full flex-row items-center gap-2">
        <span
          class="my-4 h-[2px] flex-1 border-0 bg-gray-100 dark:bg-gray-700"></span>
      </div>
      <div class="flex w-full flex-col items-center gap-2">
        <div *ngIf="servers.length === 0">
          {{ "SERVER_SEARCH_NO_MATCH" | i18n }}
        </div>
        <div
          class="flex w-full flex-col gap-2"
          auto-animate>
          <div
            *ngFor="let server of servers"
            class="w-full">
            <div
              class="relative flex h-16 w-full cursor-pointer items-center gap-4 rounded-lg bg-gray-100 px-4 shadow transition-all duration-200 hover:scale-[1.02] hover:shadow-lg dark:bg-gray-700">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-10 w-10">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
              </svg>

              <span class="flex-1 truncate text-xl font-semibold"
                >{{ server.name }}
              </span>
              <button
                *ngIf="!isServerJoined(server)"
                class="c-button max-w-min whitespace-nowrap"
                (click)="joinServer(server)">
                {{ "SERVER_JOIN" | i18n }}
              </button>
              <button
                *ngIf="isServerJoined(server)"
                class="c-button max-w-min whitespace-nowrap"
                disabled>
                {{ "SERVER_ALREADY_JOIN" | i18n }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
