<div
  @call
  class="ng top-0 z-[150] flex h-screen w-screen flex-col items-center justify-center bg-white transition-all duration-300 dark:bg-gray-900">
  <div
    class="flex h-full w-full max-w-[100vw] flex-wrap content-center items-center justify-center gap-2"
    auto-animate>
    <video
      *ngFor="let stream of streams | keyvalue"
      class="max-h-[300px] max-w-[90vw] rounded-lg md:max-w-[400px]"
      playsinline
      [srcObject]="stream.value"
      autoplay></video>
    <video
      id="localVideo"
      *ngIf="selfStream"
      class="max-h-[300px] max-w-[90vw] rounded-lg md:max-w-[400px]"
      [srcObject]="selfStream"
      [muted]="'muted'"
      playsinline
      autoplay></video>
  </div>
  <div
    class="fixed bottom-[calc(env(safe-area-inset-bottom)+20px)] flex min-h-[80px] max-w-lg justify-self-end rounded-xl border bg-gray-100 p-2 shadow dark:border-gray-700 dark:bg-gray-800">
    <div
      class="inline-flex rounded-md"
      role="group">
      <button
        (click)="endCall()"
        class="c-button h-full rounded-lg bg-red-500 transition-all duration-300 hover:bg-red-600 dark:bg-red-500 dark:hover:bg-red-600">
        <svg
          fill="none"
          stroke="white"
          stroke-width="1.5"
          class="h-8 w-8"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 3.75L18 6m0 0l2.25 2.25M18 6l2.25-2.25M18 6l-2.25 2.25m1.5 13.5c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
