<harmony-home-navbar />
<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article
            class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="/assets/Alexis.jpg" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Alexis
                                Lours</a>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">CTO of life</p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate
                                    datetime="2022-02-08" title="February 8th, 2022">May 8, 2023</time></p>
                        </div>
                    </div>
                </address>
                <h1
                    class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
                    Privacy policy of Harmony</h1>
            </header>
            <p class="lead">This Privacy Policy explains how we collect, use, store, protect, and share your personal
                information through our services. If you reside in the European Economic Area (“EEA”) or United Kingdom,
                Discord Netherlands BV is the “data controller” of your personal information collected through the
                services (as defined in our Terms of Service). For everyone else, Discord Inc. is the data controller.
                It’s important that you read this entire policy, but here’s a summary to get you started:

            </p>
            <p>We care a lot about privacy. We are committed to creating spaces where people can come together and find
                a place to belong. Respecting user privacy is a key part of that mission.</p>
            <p>We don’t sell your personal information. Our business is based on subscriptions and paid products, not
                from selling your personal information to third parties.</p>
            <p>We limit what information is required. We require the information that enables us to create your account,
                provide and maintain our services, meet our commitments to our users, and satisfy our legal
                requirements. The rest is optional.</p>
            <p>We care deeply about safety. Our dedicated Trust & Safety team works hard to help keep our community
                safe. We also use certain information to help us identify violations of our Community Guidelines and
                prevent harmful content from being distributed through the services. </p>
            <p>We give you control. We give you the ability to control your privacy on Discord.</p>

            <figure><img src="/assets/privacy-policy.jpg" alt="">
                <figcaption>Digital art by Anonymous</figcaption>
            </figure>
            <h2>Discord is your place to find community</h2>
            <p>We created Discord to be a platform that brings people together over shared experiences and gives
                everyone a place to belong. Whether you’re part of a club, gaming group, or just a handful of friends
                that want to spend time together, Discord makes it easy to express yourself and find community.</p>
            <p>Our “services” has the same meaning as defined in the Terms of Service. They include the Discord app,
                which can be accessed on mobile, web, desktop, console, or even a connected home appliance—any device
                with a web browser and internet connection. We also have a website, blog, and support center, and we may
                collect your information through other means like surveys, emails, and social media. If we build another
                product, our services include that too.</p>
            <p>As explained in our Terms of Service, we allow users to add content to the services in a number of
                different ways, including via direct messages and in smaller and larger spaces. If you share content
                within larger spaces, that content may be accessed by many people, including people you do not know. For
                example, some servers are available in the Server Discovery section of the app and do not require an
                invite link to join. Other server owners may publish their server invite link on public websites. Anyone
                can access these servers, and you should be aware that server owners or admins set these permissions,
                and like the size of a server, the permissions may change over time.</p>
            <p>We may also use content posted in larger spaces, to help us improve and power features like Highlights
                Notifications, identify harmful content on the services, and enforce our Terms of Service and Community
                Guidelines. These things are important to us, and we believe they will make Discord even better for our
                users. We will always try to let you know the type of space you are in (although we don’t control where
                invite links are shared or the permissions for that server). You can limit the extent to which your
                content is used for these purposes as described in the “How to control your privacy” section below. You
                should take all of this into account when you are using our services, and choose the spaces, features,
                and settings that are most appropriate for your content.</p>
            <p>We make money from paid subscriptions and the sale of digital (and sometimes physical) goods, not from
                selling your personal information to third parties.</p>
            <h2>When does design come in handy?</h2>
            <p>While it might seem like extra work at a first glance, here are some key moments in which prototyping
                will come in handy:</p>
            <ol>
                <li><strong>Usability testing</strong>. Does your user know how to exit out of screens? Can they
                    follow your intended user journey and buy something from the site you’ve designed? By running a
                    usability test, you’ll be able to see how users will interact with your design once it’s live;
                </li>
                <li><strong>Involving stakeholders</strong>. Need to check if your GDPR consent boxes are displaying
                    properly? Pass your prototype to your data protection team and they can test it for real;</li>
                <li><strong>Impressing a client</strong>. Prototypes can help explain or even sell your idea by
                    providing your client with a hands-on experience;</li>
                <li><strong>Communicating your vision</strong>. By using an interactive medium to preview and test
                    design elements, designers and developers can understand each other — and the project — better.
                </li>
            </ol>
            <h3>Laying the groundwork for best design</h3>
            <p>Before going digital, you might benefit from scribbling down some ideas in a sketchbook. This way,
                you can think things through before committing to an actual design project.</p>
            <p>Let's start by including the CSS file inside the <code>head</code> tag of your HTML.</p>
            <h3>Understanding typography</h3>
            <h4>Type properties</h4>
            <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across
                letters. A typeface represents shared patterns across a collection of letters.</p>
            <h4>Baseline</h4>
            <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across
                letters. A typeface represents shared patterns across a collection of letters.</p>
            <h4>Measurement from the baseline</h4>
            <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across
                letters. A typeface represents shared patterns across a collection of letters.</p>
            <h3>Type classification</h3>
            <h4>Serif</h4>
            <p>A serif is a small shape or projection that appears at the beginning or end of a stroke on a letter.
                Typefaces with serifs are called serif typefaces. Serif fonts are classified as one of the
                following:</p>
            <h4>Old-Style serifs</h4>
            <ul>
                <li>Low contrast between thick and thin strokes</li>
                <li>Diagonal stress in the strokes</li>
                <li>Slanted serifs on lower-case ascenders</li>
            </ul><img src="https://flowbite.s3.amazonaws.com/typography-plugin/typography-image-2.png" alt="">
            <ol>
                <li>Low contrast between thick and thin strokes</li>
                <li>Diagonal stress in the strokes</li>
                <li>Slanted serifs on lower-case ascenders</li>
            </ol>
            <h3>Laying the best for successful prototyping</h3>
            <p>A serif is a small shape or projection that appears at the beginning:</p>
            <blockquote>
                <p>Flowbite is just awesome. It contains tons of predesigned components and pages starting from
                    login screen to complex dashboard. Perfect choice for your next SaaS application.</p>
            </blockquote>
            <h4>Code example</h4>
            <p>A serif is a small shape or projection that appears at the beginning or end of a stroke on a letter.
                Typefaces with serifs are called serif typefaces. Serif fonts are classified as one of the
                following:</p>
            <pre><code class="language-html">&lt;dl class="grid grid-cols-2 gap-8 max-w-screen-md text-gray-900 sm:grid-cols-3 dark:text-white"&gt;
  &lt;div class="flex flex-col justify-center items-center"&gt;
    &lt;dt class="mb-2 text-3xl font-extrabold"&gt;73M+&lt;/dt&gt;
    &lt;dd class="text-lg font-normal text-gray-500 dark:text-gray-400"&gt;developers&lt;/dd&gt;
  &lt;/div&gt;
  &lt;div class="flex flex-col justify-center items-center"&gt;
    &lt;dt class="mb-2 text-3xl font-extrabold"&gt;1B+&lt;/dt&gt;
    &lt;dd class="text-lg font-normal text-gray-500 dark:text-gray-400"&gt;contributors&lt;/dd&gt;
  &lt;/div&gt;
  &lt;div class="flex flex-col justify-center items-center"&gt;
    &lt;dt class="mb-2 text-3xl font-extrabold"&gt;4M+&lt;/dt&gt;
    &lt;dd class="text-lg font-normal text-gray-500 dark:text-gray-400"&gt;organizations&lt;/dd&gt;
  &lt;/div&gt;
  &lt;/dl&gt;
  </code></pre>
            <h4>Table example</h4>
            <p>A serif is a small shape or projection that appears at the beginning or end of a stroke on a letter.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Date &amp; Time</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>United States</td>
                        <td>April 21, 2021</td>
                        <td><strong>$2,300</strong></td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>May 31, 2021</td>
                        <td><strong>$300</strong></td>
                    </tr>
                    <tr>
                        <td>United Kingdom</td>
                        <td>June 3, 2021</td>
                        <td><strong>$2,500</strong></td>
                    </tr>
                    <tr>
                        <td>Australia</td>
                        <td>June 23, 2021</td>
                        <td><strong>$3,543</strong></td>
                    </tr>
                    <tr>
                        <td>Germany</td>
                        <td>July 6, 2021</td>
                        <td><strong>$99</strong></td>
                    </tr>
                    <tr>
                        <td>France</td>
                        <td>August 23, 2021</td>
                        <td><strong>$2,540</strong></td>
                    </tr>
                </tbody>
            </table>
            <h3>Best practices for setting up your prototype</h3>
            <p><strong>Low fidelity or high fidelity?</strong> Fidelity refers to how close a prototype will be to
                the real deal. If you’re simply preparing a quick visual aid for a presentation, a low-fidelity
                prototype — like a wireframe with placeholder images and some basic text — would be more than
                enough. But if you’re going for more intricate usability testing, a high-fidelity prototype — with
                on-brand colors, fonts and imagery — could help get more pointed results.</p>
            <p><strong>Consider your user</strong>. To create an intuitive user flow, try to think as your user
                would when interacting with your product. While you can fine-tune this during beta testing,
                considering your user’s needs and habits early on will save you time by setting you on the right
                path.</p>
            <p><strong>Start from the inside out</strong>. A nice way to both organize your tasks and create more
                user-friendly prototypes is by building your prototypes ‘inside out’. Start by focusing on what will
                be important to your user, like a Buy now button or an image gallery, and list each element by order
                of priority. This way, you’ll be able to create a prototype that puts your users’ needs at the heart
                of your design.</p>
            <p>And there you have it! Everything you need to design and share prototypes — right in Flowbite Figma.
            </p>

        </article>
    </div>
</main>




<harmony-home-footer />