<harmony-home-navbar />

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <article
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
      <header class="mb-4 lg:mb-6 not-format">
        <h1
          class="mb-4 text-6xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
          Privacy policy of Harmony
        </h1>
      </header>
      <p>
        This Privacy Policy explains how we collect, use, store, protect, and
        share your personal information through our services. If you reside in
        the European Economic Area (“EEA”) or United Kingdom, Harmony
        Netherlands BV is the “data controller” of your personal information
        collected through the services (as defined in our Terms of Service). For
        everyone else, Harmony Inc. is the data controller. It’s important that
        you read this entire policy, but here’s a summary to get you started:
      </p>
      <ul>
        <li>
          <strong>We care a lot about privacy.</strong> We are committed to
          creating spaces where people can come together and find a place to
          belong. Respecting user privacy is a key part of that mission.
        </li>
        <li>
          <strong>We don’t sell your personal information.</strong> Our business
          is based on subscriptions and paid products, not from selling your
          personal information to third parties.
        </li>

        <li>
          <strong>We limit what information is required.</strong> We require the
          information that enables us to create your account, provide and
          maintain our services, meet our commitments to our users, and satisfy
          our legal requirements. The rest is optional.
        </li>
        <li>
          <strong>We care deeply about safety.</strong> Our dedicated Trust &
          Safety team works hard to help keep our community safe. We also use
          certain information to help us identify violations of our Community
          Guidelines and prevent harmful content from being distributed through
          the services.
        </li>
        <li>
          <strong>We give you control.</strong> We give you the ability to
          control your privacy on Harmony.
        </li>
      </ul>
      <figure>
        <img
          src="/assets/privacy-policy.jpg"
          alt="" />
        <figcaption>Digital art by Anonymous</figcaption>
      </figure>
      <h2>Harmony is your place to find community</h2>
      <p>
        We created Harmony to be a platform that brings people together over
        shared experiences and gives everyone a place to belong. Whether you’re
        part of a club, gaming group, or just a handful of friends that want to
        spend time together, Harmony makes it easy to express yourself and find
        community.
      </p>
      <p>
        Our “services” has the same meaning as defined in the Terms of Service.
        They include the Harmony app, which can be accessed on mobile, web,
        desktop, console, or even a connected home appliance—any device with a
        web browser and internet connection. We also have a website, blog, and
        support center, and we may collect your information through other means
        like surveys, emails, and social media. If we build another product, our
        services include that too.
      </p>
      <p>
        As explained in our Terms of Service, we allow users to add content to
        the services in a number of different ways, including via direct
        messages and in smaller and larger spaces. If you share content within
        larger spaces, that content may be accessed by many people, including
        people you do not know. For example, some servers are available in the
        Server Discovery section of the app and do not require an invite link to
        join. Other server owners may publish their server invite link on public
        websites. Anyone can access these servers, and you should be aware that
        server owners or admins set these permissions, and like the size of a
        server, the permissions may change over time.
      </p>
      <p>
        We may also use content posted in larger spaces, to help us improve and
        power features like Highlights Notifications, identify harmful content
        on the services, and enforce our Terms of Service and Community
        Guidelines. These things are important to us, and we believe they will
        make Harmony even better for our users. We will always try to let you
        know the type of space you are in (although we don’t control where
        invite links are shared or the permissions for that server). You can
        limit the extent to which your content is used for these purposes as
        described in the “How to control your privacy” section below. You should
        take all of this into account when you are using our services, and
        choose the spaces, features, and settings that are most appropriate for
        your content.
      </p>
      <p>
        We make money from paid subscriptions and the sale of digital (and
        sometimes physical) goods, not from selling your personal information to
        third parties.
      </p>
      <h2>The information we collect</h2>
      <p>
        We collect certain information when you use Harmony. This includes
        information you provide to us, information we collect automatically, and
        information we receive from other sources.
      </p>
      <ul>
        <li>
          <strong>Account information.</strong>. When you create a Harmony
          account, you can come up with a username and password, and provide a
          way of contacting you (such as an email address and/or phone number).
          You’ll also need to provide your birthday. In some cases, you may be
          required to verify your account or provide additional information
          (like a verified phone number) to your account. You may also have the
          option to add your name or nicknames.
        </li>
        <li>
          <strong>Content you create.</strong>. This includes any content that
          you upload to the service. For example, you may write messages or
          posts (including drafts), send voice messages, create custom emojis,
          create short recordings of GoLive activity, or upload and share files
          through the services. This also includes your profile information and
          the information you provide when you create servers. We generally do
          not store the contents of video or voice calls or channels. If we were
          to change that in the future (for example, to facilitate content
          moderation), we would disclose that to you in advance. We also don’t
          store streaming content when you share your screen, but we do retain
          the thumbnail cover image for the stream for a short period of time.
          We may build features that help users engage with voice and video
          content, like create or send short recordings.
        </li>
        <li>
          <strong>Payment information.</strong>. If you buy any paid services
          through Harmony, you may need to submit a valid payment method and
          associated billing information, including your full name and billing
          address. Our payment processors, like Stripe and PayPal, receive and
          process your payment information. Depending on the processor, we may
          also receive and store certain billing information, including the last
          four digits of the credit card number associated with the transaction.
          If you sell something through Harmony, you may be required to provide
          additional information to our payment processors, such as bank account
          information to facilitate payments and copies of government issued
          identification required to identify users in accordance with
          regulatory obligations. If we decide to process our own payments in
          the future, we would receive and process this information ourselves.
        </li>
        <li>
          <strong>Information from actions you take.</strong>. We collect
          information about your use of Harmony and your activities on the
          services. This includes the friends you add, the users, bots, and apps
          you engage with, the games you play on your device, the servers or
          other communities you join and participate in, your roles in servers,
          content moderation decisions you make, information about purchases or
          sales you make on or through Harmony including what you purchased or
          sold, and other related actions. You can control whether we collect,
          use, and display this information as described in the “How to control
          your privacy” section below.
        </li>
        <li>
          <strong>Information used to enable optional features.</strong>.
          Certain features, like contact syncing, may require that you provide
          additional information (or grant us access to such information) to
          make them work. This also includes third-party integrations you choose
          to enable and the data you authorize those third-party services to
          share with us. For example, when you link a music streaming account,
          we may collect information about that account such as the song you are
          listening to in order to display that information on your profile or
          as your status (if you have chosen to do so).
        </li>
        <li>
          <strong>Other information you provide directly to us.</strong>. You
          may have the option to submit additional information as you use
          Harmony. For example, you may choose to participate in our verified
          server program, which requires that you provide additional information
          about yourself or your company. Or, you may participate in surveys
          where you can provide feedback on the services, or submit information
          to our Harmony Support teams.
        </li>
      </ul>
    </article>
  </div>
</main>

<harmony-home-footer />
