<div class="flex min-h-[40px] w-full max-w-[100vw] flex-row gap-2 break-words">
  <harmony-avatar
    [image]="message.author.avatar"
    class="mt-1" />
  <div class="flex min-w-[calc(100%-40px)] max-w-[calc(100%-40px)] flex-col">
    <div class="flex w-full justify-between">
      <span class="cursor-pointer font-semibold underline">
        {{ message.author.username }}
      </span>
      <span class="flex flex-row items-center text-sm">
        <svg
          fill="none"
          *ngIf="$isAuthor()"
          (click)="editMessage()"
          stroke="currentColor"
          class="h-6 w-6 cursor-pointer transition-all duration-300"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
        </svg>
        {{ message.createdAt | date : "short" }}
      </span>
    </div>
    <markdown
      class="format dark:format-invert max-w-[calc(100%-40px)] select-text overflow-hidden !break-words text-black dark:text-white"
      ngPreserveWhitespaces
      [data]="message.content">
    </markdown>
    <div *ngFor="let image of message.attachment">
      <img
        [src]="image"
        (click)="setSelectedImage(image)"
        class="max-h-[300px] max-w-[100%] cursor-pointer rounded-lg object-contain" />
    </div>
  </div>
</div>
<div
  @image
  *ngIf="selectedImage"
  (click)="setSelectedImage('')"
  class="fixed left-0 top-0 z-[200] flex h-screen w-screen items-center justify-center overflow-hidden backdrop-blur-lg">
  <img
    [src]="selectedImage"
    (load)="addOpacity()"
    class="max-h-[80vh] max-w-[80vw] rounded-lg transition-all duration-500 {{
      style
    }}"
    alt="" />
</div>
